.footer {
  background: $color1;//fallback
  background-image:
  linear-gradient(120deg, $color1, $color2);
  margin-top: -100px;
  padding: 4rem;
  padding-top: 140px;

  @include respond(tab-port) {
    text-align: center;
  }

  div[class^="grid-"]{
    @include respond(tab-port) {
      margin-top: 0 !important;
      margin-bottom: 0 !important;
    }
  }

  .copy-right {
    color: darken($color5, 15);//fallback
    color: rgba($color5, 0.5);
  }

  &-menu {

    ul {

      li {
        display: inline-block;
        font-size: 1.4rem;


        &:not(:last-child) {
          margin-right: 1rem;
        }

        a {

          display: block;
          text-decoration: none;
          color: $color5;
          transition: all .3s;

          &:hover,
          &:active {
            opacity: 0.7;
          }
        }
      }
    }
  }
}
