.projects {
  position: relative;
  margin-top: 12rem;

  h2.heading {
    margin-top: 5rem;
    margin-bottom: 5rem;
  }

  .background {
    transform: translateX(-50%);
    width: 300%;
    overflow: hidden;
    height: 100%;
    // background-image: linear-gradient(120deg, rgba($color1, 0.8), rgba($color2,0.8));
    background: lighten($color1, 42);
    position: absolute;
    top:0 ;
    left: 50%;
    border-radius: 50%;


    @include respond(tab-port){
      width: 350%;
    }

    @include respond(phone){
      width: 500%;
    }
  }

  & > .content {
    position: relative;
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

}
