.project-card {
  background: white;
  border-radius: 5px;
  padding: 5px;
  overflow: hidden;
  box-shadow: 2px 1px 1px lighten($color4, 15);//fallback
  box-shadow: 2px 1px 1px rgba($color4, 0.5);

  .top-of-card {
    position: relative;

    img {
      cursor: pointer;
      width: 100%;
      transition: all .5s;
      filter: brightness(1);

      &:hover {
        filter: brightness(0.7);
      }
    }

    .buttons {
      position: absolute;
      top: 2rem;
      right: 2rem;

      .button {

        span {
          font-size: 1.8rem;
        }
      }
    }
  }

  .content {
    padding: 2rem;
    position: relative;

    .heading {
      position: absolute;
      top: -3rem;
      left: 1.5rem;
      background-color: white;
      padding: 1rem;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      font-size: 2.5rem;
    }

    p {
      margin-top: 2.5rem;
      line-height: 1.5;
      color: lighten($color4, 15);
      font-size: 1.8rem;
    }
  }
}
