/* RGB */
$color1: rgba(29, 161, 242, 1);
$color2: rgba(37, 110, 255, 1);
$color3: rgba(70, 35, 122, 1);
$color4: rgba(28, 29, 33, 1);
$color5: rgba(247, 249, 249, 1);
$color5-darker: darken($color5,3);

/*Grid */
$grid-gap: 2rem;
